{% load static %}
{% load mathfilters %}

<!-- HEADER -->
	<header>
		<!-- top Header -->
		<div id="top-header">
			<div class="container">
				{% if messages %}
				{% for message in messages %}
				<div class="alert alert-{{message.tags}}" role="alert">
					{{ message | safe }}
				</div>
				{% endfor %}
				{% endif %}
				<div class="pull-left">
					<span>Welcome to E-shop!</span>
				</div>
				<div class="pull-right">
					<ul class="header-top-links">
						<li><a href="#">Store</a></li>
						<li><a href="#">Newsletter</a></li>
						<li><a href="/faq">FAQ</a></li>
						<li class="dropdown default-dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">ENG <i class="fa fa-caret-down"></i></a>
							<ul class="custom-menu">
								<li><a href="#">English (ENG)</a></li>
								<li><a href="#">Russian (Ru)</a></li>
								<li><a href="#">French (FR)</a></li>
								<li><a href="#">Spanish (Es)</a></li>
							</ul>
						</li>
						<li class="dropdown default-dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">USD <i class="fa fa-caret-down"></i></a>
							<ul class="custom-menu">
								<li><a href="#">USD ($)</a></li>
								<li><a href="#">EUR (€)</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /top Header -->

		<!-- header -->
		<div id="header">
			<div class="container">
				<div class="pull-left">
					<!-- Logo -->
					<div class="header-logo">
						<a class="logo" href="#">
							<img src="{% static '' %}./img/logo.png" alt="">
						</a>
					</div>
					<!-- /Logo -->
					<script>

					  $(function() {
						$("#query").autocomplete({
						  source: "/search_auto/",
						  select: function (event, ui) { //item selected
							AutoCompleteSelectHandler(event, ui)
						  },
						  minLength: 2,
						});
					  });

					  function AutoCompleteSelectHandler(event, ui)
					  {
						var selectedObj = ui.item;
					  }

					</script>
					<!-- Search -->
					<div class="header-search">
						<form action="/search/" method="post">
					{% csrf_token %}
							<input id="query" name="query" class="input search-input" type="text" placeholder="Enter your keyword">
							<select id="catid" name="catid" class="input search-categories">
								<option value="0">All Categories</option>
								{% load mptt_tags %}
									{% recursetree category %}
								{% if node.is_leaf_node %}
								<option value="{{ node.id }}">{{ node.title }}</option>
								{% endif %}
								{% if not node.is_leaf_node %}
								<optgroup label="{{ node.title }}">
									{{ children }}
								</optgroup>
								{% endif %}
								{% endrecursetree %}













							</select>
							<button class="search-btn"><i class="fa fa-search"></i></button>
						</form>
					</div>
					<!-- /Search -->
				</div>
				<div class="pull-right">
					<ul class="header-btns">
						<!-- Account -->
						<li class="header-account dropdown default-dropdown">
			{% if user.id is not None %}
							<div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
								<div class="header-btns-icon">
									<img src="{{ request.session.userimage }}" style="height:40px; width:40px; border-radius:50%; object-fit: cover; " > </img>
								</div>
								Welcome<p>
								<strong class="text-uppercase">{{user.username}} <i class="fa fa-caret-down"></i></strong>
							</div>
			{% else %}
							Hello There<p>
							<a href="/login" class="text-uppercase" >Login</a> / <a href="/signup" class="text-uppercase">Join</a>
			{% endif %}
							<ul class="custom-menu">
								<li><a href="/user"><i class="fa fa-user-o"></i> My Account</a></li>
								<li><a href="/user/favourites"><i class="fa fa-heart-o"></i> My Wishlist</a></li>
								<li><a href="/user/orders"><i class="fa fa-check"></i> Checkout</a></li>
								<li><a href="/user/wallet"><i class="fa fa-check"></i> Wallet</a></li>
								<li><a href="/user/comments"><i class="fa fa-user-plus"></i> Comments</a></li>
								<li><a href="/logout/"><i class=" fa fa-unlock-alt"></i> Logout</a></li>
							</ul>
						</li>
						<!-- /Account -->

						<!-- Cart -->
						<!-- Cart -->
						<li class="header-cart dropdown default-dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
								<div class="header-btns-icon">
									<i class="fa fa-shopping-cart"></i>
									<span class="qty">{{ count }}</span>
								</div>
								<strong class="text-uppercase">My Cart:</strong>
								<br>
								<span>₹ {{totalamount}}</span>
							</a>
							<div class="custom-menu">
								<div id="shopping-cart">
									<div class="shopping-cart-list">

										{% for rs in userShopCart %}
										<div class="product product-widget">
											<div class="product-thumb">
												{% if rs.variant.image_id > 0 %}
                                    			<img alt="" src="{{rs.variant.image }}">
												{% else %}
												<img alt="" src="{{rs.product.image.url}}">
												{% endif %}
											</div>
											<div class="product-body">
												<h3 class="product-price">{% if rs.variant != None %}{{ rs.variant.price }}{% else %}{{ rs.product.price }}{% endif %}<span class="qty"> x{{ rs.quantity }}</span></h3>
												<h2 class="product-name"><a href="/product/{{ rs.product.id }}/{{ rs.product.slug }}">{{ rs.product.title }}</a></h2>

                                            {% if rs.variant.size != None and rs.variant.color != None %}<h6> Size: {{ rs.variant.size }} | Flavour: {{ rs.variant.color }} {% endif %}</h6>
                                            {% if rs.variant.size != None and rs.variant.color == None %}<h6> Size: {{ rs.variant.size }} {% endif %}</h6>
                                            {% if rs.variant.size == None and rs.variant.color != None %}<h6> Flavour: {{ rs.variant.color }} {% endif %}</h6>
											</div>

											<a href="/order/deletefromcart/{{ rs.id }}"
                                                          onclick="return confirm('Delete ! Are you sure?')" class="cancel-btn" style="margin-right:10px;"><i class="fa fa-trash"></i></a>
										</div>
										{% endfor %}
									</div>
									<div class="shopping-cart-btns">
										<button onclick="window.location.href='/shopcart/'" class="main-btn">View Cart</button>
										<button onclick="window.location.href='/order/orderproduct/'" class="primary-btn">Checkout <i class="fa fa-arrow-circle-right"></i></button>
									</div>
								</div>
							</div>
						</li>
						<!-- /Cart -->

						<!-- Mobile nav toggle-->
						<li class="nav-toggle">
							<button class="nav-toggle-btn main-btn icon-btn"><i class="fa fa-bars"></i></button>
						</li>
						<!-- / Mobile nav toggle -->
					</ul>
				</div>
			</div>
			<!-- header -->
		</div>
		<!-- container -->
	</header>
	<!-- /HEADER -->