{% extends 'homebase.html' %}
{% load crispy_forms_tags %}

{% block title %}  {{ user.first_name }} | Password Reset {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}

{% block body %}

<div class="container">
    <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6" style="margin-top:100px; margin-bottom:100px; border:solid; border-width:thin; shadow: 10%;">
    <form method="post">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom md-4">
                <br>Reset Password
            </legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
        </div>
    </form>
    </div>
        <div class="col-md-3"></div>
</div>
</div>



{% endblock %}